{% extends 'base.html.twig' %}
{% form_theme registrationForm 'bootstrap_5_layout.html.twig' %}

{% block title %}Create account {% endblock %}


    

{% block body %}
    <style>

     .articles{
       border-radius:10px;
       box-shadow: 0 4px 16px rgba(0,0,0,.25);
       padding: 16px 20px; 

    

     }
    
    </style>
<div class="container w-25">
<div class="articles mt-5">
<h4>Create new account</h4>
{{form_start(registrationForm)}}
{{form_widget(registrationForm)}}
<button class="btn btn-outline-success">Create account</button>
{{form_end(registrationForm)}}
</div>
</div>
{% endblock %}
