{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_5_layout.html.twig' %}
{% block title %}New Article{% endblock %}
{% block body %}
 <style>

     .articles{
       border-radius:10px;
       box-shadow: 0 4px 16px rgba(0,0,0,.25);
       padding: 16px 20px; 

    

     }
    
    </style>
<div class="container w-50">
<div class="articles mt-5">
<h4> Write an article </h4>
{{form_start(form)}}
{{form_widget(form)}}


<button class="btn btn-outline-success">Success</button>

{{form_end(form)}}
</div>
</div>
{% endblock %}